.polygonBorder {
  clip-path: polygon(
    calc(var(--pixel-size) * 0) calc(var(--pixel-size) * 3),
    calc(var(--pixel-size) * 1) calc(var(--pixel-size) * 3),
    calc(var(--pixel-size) * 1) calc(var(--pixel-size) * 2),
    calc(var(--pixel-size) * 3) calc(var(--pixel-size) * 2),
    calc(var(--pixel-size) * 3) calc(var(--pixel-size) * 1),
    calc(var(--pixel-size) * 5) calc(var(--pixel-size) * 1),
    calc(var(--pixel-size) * 5) calc(var(--pixel-size) * 0),
    calc(100% - var(--pixel-size) * 5) calc(var(--pixel-size) * 0),
    calc(100% - var(--pixel-size) * 5) calc(var(--pixel-size) * 1),
    calc(100% - var(--pixel-size) * 3) calc(var(--pixel-size) * 1),
    calc(100% - var(--pixel-size) * 3) calc(var(--pixel-size) * 2),
    calc(100% - var(--pixel-size) * 1) calc(var(--pixel-size) * 2),
    calc(100% - var(--pixel-size) * 1) calc(var(--pixel-size) * 3),
    calc(100% - var(--pixel-size) * 0) calc(var(--pixel-size) * 3),
    calc(100% - var(--pixel-size) * 0) calc(100% - var(--pixel-size) * 3),
    calc(100% - var(--pixel-size) * 1) calc(100% - var(--pixel-size) * 3),
    calc(100% - var(--pixel-size) * 1) calc(100% - var(--pixel-size) * 2),
    calc(100% - var(--pixel-size) * 3) calc(100% - var(--pixel-size) * 2),
    calc(100% - var(--pixel-size) * 3) calc(100% - var(--pixel-size) * 1),
    calc(100% - var(--pixel-size) * 5) calc(100% - var(--pixel-size) * 1),
    calc(100% - var(--pixel-size) * 5) calc(100% - var(--pixel-size) * 0),
    calc(var(--pixel-size) * 5) calc(100% - var(--pixel-size) * 0),
    calc(var(--pixel-size) * 5) calc(100% - var(--pixel-size) * 1),
    calc(var(--pixel-size) * 3) calc(100% - var(--pixel-size) * 1),
    calc(var(--pixel-size) * 3) calc(100% - var(--pixel-size) * 2),
    calc(var(--pixel-size) * 1) calc(100% - var(--pixel-size) * 2),
    calc(var(--pixel-size) * 1) calc(100% - var(--pixel-size) * 3),
    calc(var(--pixel-size) * 0) calc(100% - var(--pixel-size) * 3)
  );
}

.polygonInner {
  clip-path: polygon(
    calc(var(--pixel-size) * 0) calc(var(--pixel-size) * 2),
    calc(var(--pixel-size) * 1) calc(var(--pixel-size) * 2),
    calc(var(--pixel-size) * 1) calc(var(--pixel-size) * 2),
    calc(var(--pixel-size) * 2) calc(var(--pixel-size) * 2),
    calc(var(--pixel-size) * 2) calc(var(--pixel-size) * 1),
    calc(var(--pixel-size) * 4) calc(var(--pixel-size) * 1),
    calc(var(--pixel-size) * 4) calc(var(--pixel-size) * 0),
    calc(100% - var(--pixel-size) * 4) calc(var(--pixel-size) * 0),
    calc(100% - var(--pixel-size) * 4) calc(var(--pixel-size) * 1),
    calc(100% - var(--pixel-size) * 2) calc(var(--pixel-size) * 1),
    calc(100% - var(--pixel-size) * 2) calc(var(--pixel-size) * 2),
    calc(100% - var(--pixel-size) * 0) calc(var(--pixel-size) * 2),
    calc(100% - var(--pixel-size) * 0) calc(var(--pixel-size) * 3),
    calc(100% - var(--pixel-size) * 0) calc(var(--pixel-size) * 3),
    calc(100% - var(--pixel-size) * 0) calc(100% - var(--pixel-size) * 3),
    calc(100% - var(--pixel-size) * 0) calc(100% - var(--pixel-size) * 3),
    calc(100% - var(--pixel-size) * 0) calc(100% - var(--pixel-size) * 2),
    calc(100% - var(--pixel-size) * 2) calc(100% - var(--pixel-size) * 2),
    calc(100% - var(--pixel-size) * 2) calc(100% - var(--pixel-size) * 1),
    calc(100% - var(--pixel-size) * 4) calc(100% - var(--pixel-size) * 1),
    calc(100% - var(--pixel-size) * 4) calc(100% - var(--pixel-size) * 0),
    calc(var(--pixel-size) * 4) calc(100% - var(--pixel-size) * 0),
    calc(var(--pixel-size) * 4) calc(100% - var(--pixel-size) * 1),
    calc(var(--pixel-size) * 2) calc(100% - var(--pixel-size) * 1),
    calc(var(--pixel-size) * 2) calc(100% - var(--pixel-size) * 2),
    calc(var(--pixel-size) * 0) calc(100% - var(--pixel-size) * 2),
    calc(var(--pixel-size) * 0) calc(100% - var(--pixel-size) * 3),
    calc(var(--pixel-size) * 0) calc(100% - var(--pixel-size) * 3)
  );
}

.polygonContent {
  clip-path: polygon(
    calc(var(--pixel-size) * 0) calc(var(--pixel-size) * 3),
    calc(var(--pixel-size) * 1) calc(var(--pixel-size) * 3),
    calc(var(--pixel-size) * 1) calc(var(--pixel-size) * 3),
    calc(var(--pixel-size) * 2) calc(var(--pixel-size) * 3),
    calc(var(--pixel-size) * 2) calc(var(--pixel-size) * 3),
    calc(var(--pixel-size) * 4) calc(var(--pixel-size) * 3),
    calc(var(--pixel-size) * 4) calc(var(--pixel-size) * 2),
    calc(var(--pixel-size) * 6) calc(var(--pixel-size) * 2),
    calc(var(--pixel-size) * 6) calc(var(--pixel-size) * 1),
    calc(100% - var(--pixel-size) * 4) calc(var(--pixel-size) * 1),
    calc(100% - var(--pixel-size) * 4) calc(var(--pixel-size) * 1),
    calc(100% - var(--pixel-size) * 2) calc(var(--pixel-size) * 1),
    calc(100% - var(--pixel-size) * 2) calc(var(--pixel-size) * 2),
    calc(100% - var(--pixel-size) * 0) calc(var(--pixel-size) * 2),
    calc(100% - var(--pixel-size) * 0) calc(var(--pixel-size) * 3),
    calc(100% - var(--pixel-size) * 0) calc(var(--pixel-size) * 3),
    calc(100% - var(--pixel-size) * 0) calc(100% - var(--pixel-size) * 3),
    calc(100% - var(--pixel-size) * 0) calc(100% - var(--pixel-size) * 4),
    calc(100% - var(--pixel-size) * 1) calc(100% - var(--pixel-size) * 4),
    calc(100% - var(--pixel-size) * 2) calc(100% - var(--pixel-size) * 4),
    calc(100% - var(--pixel-size) * 2) calc(100% - var(--pixel-size) * 3),
    calc(100% - var(--pixel-size) * 4) calc(100% - var(--pixel-size) * 3),
    calc(100% - var(--pixel-size) * 4) calc(100% - var(--pixel-size) * 1),
    calc(100% - var(--pixel-size) * 4) calc(100% - var(--pixel-size) * 2),
    calc(100% - var(--pixel-size) * 6) calc(100% - var(--pixel-size) * 2),
    calc(100% - var(--pixel-size) * 6) calc(100% - var(--pixel-size) * 1),
    calc(var(--pixel-size) * 6) calc(100% - var(--pixel-size) * 1),
    calc(var(--pixel-size) * 6) calc(100% - var(--pixel-size) * 2),
    calc(var(--pixel-size) * 4) calc(100% - var(--pixel-size) * 2),
    calc(var(--pixel-size) * 4) calc(100% - var(--pixel-size) * 3),
    calc(var(--pixel-size) * 2) calc(100% - var(--pixel-size) * 3),
    calc(var(--pixel-size) * 2) calc(100% - var(--pixel-size) * 3),
    calc(var(--pixel-size) * 1) calc(100% - var(--pixel-size) * 3),
    calc(var(--pixel-size) * 1) calc(100% - var(--pixel-size) * 3),
    calc(var(--pixel-size) * 0) calc(100% - var(--pixel-size) * 3)
  );
}

.polygonGlare {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% calc(100% - var(--pixel-size) * 1),
    calc(100% - var(--pixel-size) * 1) calc(100% - var(--pixel-size) * 1),
    calc(100% - var(--pixel-size) * 1) 100%,
    0% 100%
  );
}

.polygonGlimmer {
  clip-path: polygon(0 0, 29% 0, 100% 100%, 73% 100%);
}

.glimmer {
  animation: glimmer-repeat 8s infinite steps(24);
}

@keyframes glimmer-repeat {
  0% {
    left: -100%;
  }
  10% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.button:hover .glimmer {
  animation: glimmer-hover 0.5s forwards steps(24);
}

@keyframes glimmer-hover {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.shine {
  animation: shine-repeat 8s infinite steps(2);
}

@keyframes shine-repeat {
  0% {
    transform: scale(0%);
  }
  5% {
    transform: scale(100%);
  }
  10% {
    transform: scale(0%);
  }
  100% {
    transform: scale(0%);
  }
}

.button:hover .shine {
  animation: shine-hover 0.5s forwards steps(2);
}

@keyframes shine-hover {
  0% {
    transform: scale(0%);
  }
  50% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
