@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pixel-size: 4rem;
}

@layer base {
  @font-face {
    font-family: "Kemco Pixel";
    src: url("/fonts/kemco-pixel/kemco-pixel-700.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "DePixelKlein";
    src:
      url("/fonts/de-pixel/de-pixel-klein.woff2") format("woff2"),
      url("/fonts/de-pixel/de-pixel-klein.woff") format("woff"),
      url("/fonts/de-pixel/de-pixel-klein.ttf") format("truetype"),
      url("/fonts/de-pixel/de-pixel-klein.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Mage";
    src: url("/fonts/mage/mage.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Kaw";
    src: url("/fonts/basis/basis.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  *:focus {
    outline: none;
  }

  html {
    font-size: calc(100vw / 430);

    @media (min-width: 430px) {
      font-size: 1px;
    }
  }

  button,
  a {
    @apply cursor-pointer;
  }

  button:disabled {
    @apply cursor-default;
  }

  body {
    @apply cursor-default bg-sky-950 font-de-pixel-klein text-[16rem] text-white;
  }

  img {
    @apply pointer-events-none select-none;
  }
}

@layer components {
  .max-container {
    @apply w-full max-w-[1740rem] px-[20rem];
  }
}
