@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Kemco Pixel";
    src: url("/fonts/kemco-pixel/kemco-pixel-700.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  html {
    font-size: 1px;

    /*@media (max-width: 1920px) {*/
    /*  font-size: calc(100vw / 1920);*/
    /*}*/
  }

  body {
    @apply font-kemco bg-white text-[16rem] text-black dark:bg-black dark:text-white;
  }

  img {
    @apply pointer-events-none select-none;
  }
}

@layer components {
  .max-container {
    @apply w-full max-w-[1740rem] px-[20rem];
  }
}
