.flyingLogo {
  animation: flying 2s steps(4, end) infinite;
}

@keyframes flying {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(0);
  }
}
